---
---

<section class=" md:min-h-screen flex items-center justify-center bg-transparent w-full">

  <div class="text-center p-32 bg-black/40 backdrop-blur-sm rounded-md ">
    <h1 class="text-3xl md:text-6xl font-bold text-gray-900 mb-4 bg-gradient">Jamirul Islam</h1>
    <p class="text-lg md:text-2xl text-gray-200 mb-8">Full Stack (MERN) Developer</p>

    <a
      href="/jamirul_islam_resume_2025.pdf"
      target="_blank"
      class="bg-blue-400 text-sm text-nowrap mt-5 px-4 py-1 text-white md:px-8 md:py-3 rounded-full hover:bg-blue-600 transition"
      >Download CV</a
    >
  </div>
</section>

