---
import { Icon } from 'astro-icon/components'
---

<div class="flex flex-wrap gap-6 justify-center">
  <div class="flex flex-col items-center">
    <Icon name="simple-icons:react" class="w-8 h-8 text-[#61DAFB]" />
    <span class="text-sm mt-2">React</span>
  </div>
  
  <div class="flex flex-col items-center">
    <Icon name="simple-icons:typescript" class="w-8 h-8 text-[#3178C6]" />
    <span class="text-sm mt-2">TypeScript</span>
  </div>

  <div class="flex flex-col items-center">
    <Icon name="simple-icons:tailwindcss" class="w-8 h-8 text-[#06B6D4]" />
    <span class="text-sm mt-2">Tailwind</span>
  </div>

  <div class="flex flex-col items-center">
    <Icon name="simple-icons:astro" class="w-8 h-8 text-[#FF5D01]" />
    <span class="text-sm mt-2">Astro</span>
  </div>

  <div class="flex flex-col items-center">
    <Icon name="simple-icons:nodejs" class="w-8 h-8 text-[#339933]" />
    <span class="text-sm mt-2">Node.js</span>
  </div>

  <div class="flex flex-col items-center">
    <Icon name="simple-icons:git" class="w-8 h-8 text-[#F05032]" />
    <span class="text-sm mt-2">Git</span>
  </div>
</div>